body{
    font-family: 'Open Sans', sans-serif;
}

p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;

}
button{
    cursor:pointer;
}

address{
    font-style: normal;

}
img{
    display: block;
}

:root {
    --main-text-color: #555555;
    --title-color:  #303030;
    ---section-text-color: #9DA4BD;
    --white-color:  #FFFFFF;
    --button-bg: #FF6C00;
    --background-item-colors: #F7F7F7; 

    
}
@keyframes changeBgColor {
    0% {
      background-color: teal;
    }
  
    50% {
      background-color: orange;
    }
  
    100% {
      background-color: deepskyblue;
    }
  }

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* border: 1px solid red; */

}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.text-liner::before{
    content:"";
    width: 60px;
    height: 1px;
    background-color:currentColor;
    margin-right: 20px;
    display: block;
}

/* --------------header---------------- */
.header-flex-container{
    display: flex;
    align-items: center;
}


.header {
    padding-top: 32px;
    /* background-color: var(--main-text-color); */

    position: absolute;
    width: 100%;
    


}
.header-navigation {
    display: flex;
    align-items:center;


    /* margin-right: auto; */
    
 


}
.header-logo {
    margin-right: 130px;
    /* padding-top: 32px; */

}
.header-list {
    display: flex; 
    gap: 30px;
    /* padding-top: 52px; */
    align-items: center;


}
.address-container{
    padding-top: 52px;
}

.header-phone{
    margin-left: auto;
    margin-right: 43px ;
}

.header-item{
    /* margin-right: 30px; */
}


 
.header-item:last-child{
    /* margin: 0; */
}



.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--background-item-colors);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link:hover,
.header-link:focus{
    color:var(--button-bg)
}



.header-phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-phone:hover,
.header-phone:focus{
    color:var(--button-bg)
}


.header-button {
    min-width: 160px;
    height: 40px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--white-color);
    cursor: pointer;
    background-color: transparent;

    border: 1px solid #FF6C00;
    border-radius: 25px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ;


}
.header-button:hover,
.header-button:focus{
    background: var(--button-bg)
}

/* ---------------section hero-------------- */

.hero-container{
    display: flex;
    background-color:#FFFFFF;
    
  
    
}
.hero-wrap{
    /* display:flex;
    flex-direction: column; */
    /* background: black; */
    flex-grow: 1;
    border: 1 solid white;
    
    padding-top: 272px;
    padding-right: 526px;
    padding-bottom: 208px;
    padding-left: 100px;

    background-image: url(../img/Slider\ img\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.hero-side-wrapper{
    display: flex;
    align-items: end;
}

.hero {
   
    }
.hero-list {
    width: 100px;
    display: flex;
    gap: 40px;
    
    rotate: -90deg;

}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color:var(--title-color)
}   

.hero-link:hover,
.hero-link:focus{
    background: var(--button-bg)
}

.hero-item {

}
.hero-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);

    display: flex;
    align-items: center;

}
.hero-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--white-color);
}
.hero-bottom-text {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(---section-text-color)
}

.hero-top-text::before {
    content:"";
    width: 60px;
    height: 1px;
    background-color:currentColor;
    margin-right: 20px;
    
    
}


/* -------------------------about------------------- */

.container-about{
    display: flex;
}

.about-wraper{
    margin-left: 30px;;
    padding-right: 100px;
}
.about {
    padding: 120px 0 120px 0;
    /* animation-name: changeBgColor;
    animation-duration: 10000ms; */
    
}


.about-list {
    display: flex;
    gap: 30px;
}

.about-link {
}

/* @keyframes cykle{
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
    }
}

.about-link img{
    animation-name: cykle;
    animation-duration:500ms;
    animation-timing-function: linear;
    animation-iteration-count:2sec;

} */

.about-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color:var(--title-color);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about-title {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color:var(--title-color);
    margin-bottom: 20px;
}
.about-bottom-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
    margin-bottom: 20px;
}
.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color:var(--main-text-color);
    margin-bottom: 20px;
}
.about-btn {
    min-width: 160px;
    height: 40px;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    color: var(--title-color)
}

.about-btn:hover,
.about-btn:focus{
    background: var(--button-bg)
}


/* ------------benefits----------------------- */
.benefits-container {
    
    /* width: 1000px; */
    display: flex;
    gap: 130px;
}

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}
.benefits-item {
    display: flex;
    flex-direction: column;
    
    width: 170px;
    height: 133px;
    background-color: var(--background-item-colors);
}
.count {
   padding-top: 20px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--title-color)
}
.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: var(--title-color)
}
.benefits-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    
    color: var(--title-color)
}
.benefits-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: var(--title-color)
}
.benefits-bottom-text {
}

/* ----------------barber section------------- */

.barbers{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--background-item-colors);
}
.our-barbers{
    background-color: blue;
}

  

.barbers-top-text{
    margin-bottom: 20px;
}

.barber-title{
    margin-bottom: 44px;
}

.barbers-list{
    display: flex;
    gap: 30px;
    
}
.barbers-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barbers-overflow{
    position: relative;
    overflow: hidden;
    
}
.barbers-overflow-text{
    padding: 20px;
    
    color:#FFFFFF;
    position: absolute;
    background-color: rgba(11, 12, 12, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translatey(100%);
    transition: transform 250ms ease;
   

}
.barbers-overflow:hover .barbers-overflow-text{
    transform: translatey(0%);
}






.second-barberstitle{
    margin-top: 30px;
    margin-bottom: 8px;
    justify-content: center;


}

.barbers-description{

}

/* ---------------------beard section---------------------- */

.beard{
    padding-top: 120px;
    padding-bottom: 120px;

}

.beard-top-text{
    margin-bottom: 44px;
}

.beard-list{
    display: flex;
    gap: 30px;
}

/* ----------------services---------- */
.pricese{
    padding: 120px 0;
    background-color:var(--title-color)
}

.pricese-top-text{
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.6);

    display: flex;
    align-items: center;
}

.pricese-title{
    margin-bottom: 44px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: var(--white-color)
}

.pricese-wrapper{
    display: flex;
    gap: 30px;
}

.pricese-list{
    width: 570px;
    height: 240px;
    padding: 30px 22px 30px 20px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    margin-bottom: 44px ;

}

.pricese-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}

.pricese-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    
    color: var(---section-text-color)

}

.pricese-button {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    border: 1px solid #FF6C00;
    border-radius: 25px;

    padding: 12px 20px;
    
    color: var(--white-color)
}

.pricese-button:hover,
.pricese-button:focus{
    background-color:var(--button-bg)
}
